<section class="row">
  <div class="col-6">
    <div>
      <p class="fw-bold fs-4 text-center">Actualizar producto</p>
    </div>
    <form autocomplete="off" [formGroup]="updateForm" (ngSubmit)="updateProduct()">
      <div class="mb-3">
        <label for="txtName" class="form-label">Nombre</label>
        <input type="text" formControlName="name" class="form-control" id="txtName" />
      </div>
      <div class="mb-3">
        <label for="txtPrice" class="form-label">Precio</label>
        <input type="number" formControlName="price" class="form-control" id="txtPrice" />
      </div>
      <div class="mb-3">
        <label for="txtImg" class="form-label">Imágen URL</label>
        <input type="text" formControlName="imgUrl" class="form-control" id="txtImg" />
      </div>
      <button *ngIf="!showSpinner" [disabled]="updateForm.invalid" type="submit" class="btn btn-primary">Actualizar</button>
      <div *ngIf="showSpinner" class="d-flex justify-content-center">
        <app-spinner></app-spinner>
      </div>
    </form>
  </div>
  <div class="col-6"></div>
</section>
