<div class="mb-4">
  <p class="text-primary fw-semibold font-monospace fs-3 text-center">Login</p>
</div>
<form (ngSubmit)="login()" [formGroup]="loginForm" autocomplete="off">
  <div class="mb-3">
    <label for="txtEmail" class="form-label">Email</label>
    <input [class.is-invalid]="isTheFieldInvalid('email')" formControlName="email" type="email" class="form-control" id="txtEmail">
    <div class="invalid-feedback">
      Email inválido
    </div>
  </div>
  <div class="mb-3">
    <label for="txtPassword" class="form-label">Password</label>
    <input [class.is-invalid]="isTheFieldInvalid('password')" formControlName="password" type="password" class="form-control" id="txtPassword">
    <div class="invalid-feedback">
      Debe ser mayor o igual a 6 dígitos
    </div>
  </div>
  <div class="mb-3 row d-flex justify-content-center">
    <button *ngIf="!showSpinner" [disabled]="loginForm.invalid" type="submit" class="btn btn-primary mb-3">
      Login
    </button>
    <button *ngIf="!showSpinner" (click)="loginWithGoogle()" class="btn btn-outline-warning" type="button">Login with Google</button>
    <div *ngIf="showSpinner" class="d-flex justify-content-center">
      <app-spinner></app-spinner>
    </div>
  </div>
  <div>
    <p class="m-0">¿No tienes una cuenta? <span><a routerLink="/auth/register">Regístrate</a></span></p>
  </div>
</form>
