<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Imágen</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let i = index">
      <th class="align-middle" scope="row">{{ i + 1 }}</th>
      <td class="align-middle">{{ product.name }}</td>
      <td class="align-middle">{{ product.price | currency : 'S/. ' }}</td>
      <td class="align-middle">
        <img width="100" height="100" [src]="product.imgUrl" [alt]="product.name" />
      </td>
      <td class="align-middle text-center">
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <button (click)="seeMore(product.id!)" type="button" class="btn btn-success">
            Ver más
          </button>
          <a
            class="btn btn-warning"
            [routerLink]="['/dashboard', 'product', 'update', product.id]">
            Editar
          </a>
          <button (click)="delete(product)" type="button" class="btn btn-danger">Eliminar</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
